:root {
    --main-font: "roboto";
    --secondary-font: "raleway";
    --accent-color: #2196F3;
    --black-txt-color:#212121;
    --description-color:#757575;
    --white-color:#FFFFFF;
}


body{
    font-family: var(--main-font), sans-serif;
    font-size: 16px;
    background-color: var(--white-color);
    letter-spacing: 0.03em;
    color: var(--black-txt-color);
}
/* utils */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */

address {
    font-style: normal;
}

.visualy-hiden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.header-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-txt-color);
}
.header-item{
    margin-left: 50px;
}

/* Logo */

.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--accent-color);
    text-decoration: none;

    display: flex;
    align-items: center;
    margin-left: auto;
}

.logo-web{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

/* header nav */
.current{
    color: var(--accent-color)
}

.header-list{
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.header-list-contact{
    display: flex;
    align-items: center;
    margin-left:  auto;
}

.header-item-contact{
    margin-left: 50px;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-item:hover,
.header-item:focus{
  color:var(--accent-color);
  cursor: pointer;
}
.header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--description-color);
}
.header-contact:hover,
.header-contact:focus{
    color:var(--accent-color);
    cursor: pointer;
}

    
/* main conteny */
.hero{
    background-color: #2F303A;
    text-align: center;
}
.hero-title{
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}
.button-order{
    font-family: inherit;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

/* about us */

.about{
    padding-top: 91px;
    padding-bottom: 91px;
    
}
.about-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    text-align: center;
    margin-bottom: 10px;

}
.about-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-item{
    width: 270px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--description-color);
    
    text-align: center;
    margin-bottom: 0;

}

/* about us section 2 */

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* our team */
.team{
    background: #F5F4FA;
}

.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-position{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--description-color);
}

/* footer */
.footer{
    background-color: #2F303A;;
    font-style: normal;
}

/* logo */

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--accent-color);
}

.footer-logo-web {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color:var(--white-color);
}
/* contacts */
.footer-link-map{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color:var(--white-color);
    font-style: normal
}
.footer-link-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
        /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal
}

.footer-link-contact:hover,
.footer-link-contact:hover{
    color: var(--accent-color);
    cursor: pointer;
}

/* Portfolio page*/

/* portfolio buttons */



.button-porfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--black-txt-color);
    background: #F5F4FA;
    border-radius: 4px;
}
.active{
    background-color: var(--accent-color);
    color: var(--white-color);
}
.button-porfolio:hover,
.button-porfolio:focus {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}

.filter-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-txt-color);
}
.filter-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.67;
    color: var(--description-color);
}



